{% set navigation = [
  dict(caption='Home', href=url_for('go_to_observer')), 
  dict(caption='Hat 4', href="http://192.168.100.104:5000/"), 
  dict(caption='Hat 5', href="http://192.168.100.105:5000/")] %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
<title>{% block title %}Synch.Live{% endblock %}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!--<link href="../static/style.css" rel="stylesheet">-->
<link href="../static/hat_standalone.css" rel="stylesheet">
<script src="../static/hat_standalone_script.js"></script> 
</head>
<body class="container bg-white dark:bg-black text-black dark:text-white mx-auto px-4 py-4 flex flex-col gap-4">
<header class="flex flex-row gap-6 items-center text-xl">
<p class="text-6xl font-medium"><a href="/main.html">Synch.Live Hat</a></p>
<nav>
  <ul class="flex flex-row items-center divide-x">
    {% for item in navigation %}
        <li class="px-4 {% if request.path == item.href %}text-gray-500{% endif %}">
            {% if item.href != request.path %}
                <a href="{{ item.href }}">{{ item.caption }}</a>
            {% else %}
                {{ item.caption }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
  <!--
  <ul class="flex flex-row items-center divide-x">
    
      <a href="{{ url_for('go_to_observer') }}">Home</a>
      <a href="http://192.168.100.104:5000/">Hat 4</a>
      <a href="http://192.168.100.105:5000/">Hat 5</a>
    <a href="http://192.168.100.100:5000/">Observer</a>
    
  </ul> -->

</nav>
</header>
<hr class="h-1 bg-gray-800 dark:bg-gray-200" />
{% from "_taghelpers.html" import render_h1, render_h2, render_section %}
{% block content %}

  <div class="text-4xl font-medium">
      <p id="controlling">Controlling: Hat <span>{{ lastTwoDigits }}</span></p>
  </div>

  <ul class="text-2xl font-medium flex flex-row gap-2 items-center">
      <button class= "{py-2 px-4 rounded-lg bg-gray-200 hover:bg-gray-300 active:bg-gray-400 transition dark:bg-gray-800 dark:hover:bg-gray-700 dark:active:bg-gray-700 text-lg font-bold" id="startButton" type="button" onclick="window.location.href='/startButton';">Start</button>
      <button class="{py-2 px-4 rounded-lg bg-gray-200 hover:bg-gray-300 active:bg-gray-400 transition dark:bg-gray-800 dark:hover:bg-gray-700 dark:active:bg-gray-700 text-lg font-bold" id="stopButton" type="button" onclick="window.location.href='/stopButton';">Stop</button>
      <button class="{py-2 px-4 rounded-lg bg-gray-200 hover:bg-gray-300 active:bg-gray-400 transition dark:bg-gray-800 dark:hover:bg-gray-700 dark:active:bg-gray-700 text-lg font-bold" id="clearButton" type="button" onclick="window.location.href='/clearButton';">Reset</button>              
  </ul>

  <body onload="document.getElementById('defaultOpen').click();">
  <div class="tab">
    <ul class="text-1xl font-medium flex flex-row gap-2 items-center">
      <button class="tablinks active" onclick="openTab(event, 'Colour')" id="defaultOpen">Colour</button>
      <button class="tablinks" onclick="openTab(event, 'Effects')">Effects</button>
      <button class="tablinks" onclick="openTab(event, 'Animations')">Animations</button>
    </ul>
  </div>

  <div id="Colour" class="tabcontent" style="display:block;">

    <form method="POST" action="/handle_color_picker" class="flex flex-col items-start">
      
      <ul class="text-1xl font-medium flex flex-row gap-2 items-center">

        <label for="color">Choose main color:</label>
        <input type="color" id="color" name="color" value="{{ origCol|default('#05f238') }}" style="width: 100px; height: 100px;">
        

        <label for="color2">Choose secondary color:</label>
        <input type="color" id="color2" name="color2" value="{{ origCol2|default('#FF10F0') }}" style="width: 100px; height:100px;">
      
      </ul>

      <br>

      <ul class="text-1xl font-medium flex flex-row gap-4 items-center">
      
        <label for="blickfrequency">Blinks per second:</label>
        <input type="number" id="blickfrequency" name="blickfrequency" min="0" max="5" value="{{ freq|default('0') }}">
        

        <label for="effectduration">Effect duration:</label>
        <input type="number" id="effectduration" name="effectduration" min="1" max="20" value="{{ dur|default('3') }}">

      </ul>

      <br>

      <ul class="text-1xl font-medium flex flex-row gap-6 items-center">

          <input class = "butts" name="TrialConfigButton" type="submit" value="Trial">
          <input class = "butts" name="saveConfigButton" type="submit" value="Save">

      </ul>

    </form>
  </div>

  <div id="Effects" class="tabcontent">

    <ul class="text-1xl font-medium flex flex-row gap-2 items-center">

        <button id="pilotButton" type="button" onclick="window.location.href='/pilotButton';">Pilot</button>
        <button id="exposureButton" type="button" onclick="window.location.href='/exposureButton';">Exposure</button>
        <button id="breatheButton" type="button" onclick="window.location.href='/breatheButton';">Breathe</button>
        <button id="fadeInButton" type="button" onclick="window.location.href='/fadeInButton';">Fade: Main</button>
        <button id="fadeBetweenColorsButton" type="button" onclick="window.location.href='/fadeBetweenColoursButton';">Fade: Main to Secondary</button>
    
    </ul>
  </div>

  <div id="Animations" class="tabcontent">

    <ul class="text-1xl font-medium flex flex-row gap-2 items-center">

      <button id="rainbowButton" type="button" onclick="window.location.href='/rainbowButton';">Rainbow</button>
      <button id="fireButton" type="button" onclick="window.location.href='/fireButton';">Fire</button>
      <button id="policeButton" type="button" onclick="window.location.href='/policeButton';">Police Lights</button>
      <button id="paparazziButton" type="button" onclick="window.location.href='/paparazziButton';">Paparazzi</button>
      <button id="partyButton" type="button" onclick="window.location.href='/partyButton';">Disco</button>
    
    </ul>
  
  </div>

  </body>
{% endblock %}
