<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One person, one hat: Control</title>
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/hat_standalone.css" rel="stylesheet">
    <script src="../static/hat_standalone_script.js"></script>

</head>
<body>
<nav>
    <h3>synch.live</h3>
</nav>

<div class="banner" id="all-caps-thin"> <!-- If {number} isn't gonna be implemented we should comment this bit out -->
    <p id="controlling" style="alignment: center">Controlling: Hat <span>{{ lastTwoDigits }}</span></p>
</div>

<h1>Hat Control</h1>

    <button class="startlights" id="startButton" type="button" onclick="window.location.href='/startButton';">Start Lights</button>
    <button class="stoplights" id="stopButton" type="button" onclick="window.location.href='/stopButton';">Stop Lights</button>
    <button class="clear" id="clearButton" type="button" onclick="window.location.href='/clearButton';">Clear</button>

    <div class="tab">
        <!--NB: the following lines can be improved.
        "Deprecated symbol used, consult docs for better alternative"-->
        <button class="tablinks" onclick="openTab(event, 'Colour')">Custom</button>
        <button class="tablinks" onclick="openTab(event, 'Effects')">Effects</button>
        <button class="tablinks" onclick="openTab(event, 'Animations')">Animations</button>
    </div>

  <!-- Tab content -->

<div id="Colour" class="tabcontent">
  <form method="POST" action="/handle_color_picker">
    <label for="color">Enter a color:</label>
    <input type="color" id="color" name="color" value="{{ origCol|default('#2B43DC') }}">
    <br>

    <label for="blickfrequency">Light Blink Frequency (per second):</label>
    <input type="number" id="blickfrequency" name="blickfrequency" min="1" max="5" value="{{ freq|default('1') }}">
    <br>

    <label for="effectduration">Effect Duration (in seconds):</label>
    <input type="number" id="effectduration" name="effectduration" min="1" max="20" value="{{ dur|default('1') }}">
    <br>

    <input name="TrialConfigButton" type="submit" value="Trial this configuration">
      <br />
    <input name="saveConfigButton" type="submit" value="Save configuration">

  </form>
</div>

<div id="Effects" class="tabcontent">
    <button id="pilotButton" type="button" onclick="window.location.href='/pilotButton';">Pilot</button>
    <button id="exposureButton" type="button" onclick="window.location.href='/exposureButton';">Exposure</button>
    <button id="breatheButton" type="button" onclick="window.location.href='/breatheButton';">Breathe</button>
    <button id="fadeInButton" type="button" onclick="window.location.href='/fadeInButton';">Fade In</button>
</div>

<div id="Animations" class="tabcontent">
    <button id="rainbowButton" type="button" onclick="window.location.href='/rainbowButton';">Rainbow Loop</button>
    <button id="fireButton" type="button" onclick="window.location.href='/fireButton';">Fire</button>
    <button id="policeButton" type="button" onclick="window.location.href='/policeButton';">Police Lights</button>
    <button id="paparazziButton" type="button" onclick="window.location.href='/paparazziButton';">Paparazzi</button>
    <button id="partyButton" type="button" onclick="window.location.href='/partyButton';">Party Lights</button>

</div>

</body>
</html>