---

- name: copy tracking and streaming code on observer
  tags: setup
  hosts: observer

  tasks:

  - name: Create synch folder
    file:
      path: "{{ item }}"
      state: directory
    with_items:
      - '/home/pi/camera/core'
      - '/home/pi/camera/server'
      - '/home/pi/camera/templates'
      - '/home/pi/logs'
      - '/home/pi/media/video'
      - '/home/pi/media/trajectories'
  - name: Copy core Python scripts
    copy:
      src: "{{ item }}"
      dest: /home/pi/camera/core
      owner: pi
      group: pi
      mode: 0644
    with_fileglob: camera/core/*.py
  - name: Copy infodynamics
    copy:
      src: camera/core/infodynamics.jar
      dest: /home/pi/camera/core
      owner: pi
      group: pi
      mode: 0644
  - name: Copy Flask Python code
    copy:
      src: "{{ item }}"
      dest: /home/pi/camera/server
      owner: pi
      group: pi
      mode: 0644
    with_items:
      - camera/server/observer.py
      - camera/server/video.py
  - name: Copy Flask templates
    copy:
      src: "{{ item }}"
      dest: /home/pi/camera/server/templates
      owner: pi
      group: pi
      mode: 0644
    with_fileglob: camera/server/templates/*.html


- name: copy LED control code on all players
  tags: setup
  hosts: players

  tasks:

  - name: Create synch folders
    file:
      path: "{{ item }}"
      state: directory
    with_items:
      - '/home/pi/leds'
      - '/home/pi/logs'
  - name: Copy LED light control Python scripts
    copy:
      src: "{{ item }}"
      dest: /home/pi/leds
      owner: pi
      group: pi
      mode: 0644
    with_fileglob: python/leds/*.py

  - name: Add cron job that starts the pilot at boot
    cron:
      name: 'startup_pilot'
      special_time: reboot
      state: present
      job: 'python3 /home/pi/synch/startup.py'
