<html>
  <head>
    <title>Calibrate Synch.Live</title>
  </head>
  <body>
    <h1>Synch.Live Camera Calibration</h1>
    <p>
    Below is the real-time video feed on which the tracker will be run.</br>
    The tracker is running with default parameters until calibration is completed.
    </p>

    <img src="{{ url_for('video_feed') }}">

    <h2>Tracking Calibration</h2>
    <p>
    The inputs are auto-filled with the current settings.</br>
    To update settings for the current run, press 'Update settings'.
    </p>

    <form action="{{ url_for('calibrate') }}" method="post">
      <p>
      <label for="max_players">Number of players to be tracked:</label>
      <input type="number" id="max_players" name="max_players" value="{{ opts.tracking.max_players }}" min="3">
      </p>
      <p>
      <label for="min_contour">Min contour length (px)  </label>
      <input type="number" id="min_contour" name="min_contour" value="{{ opts.detection.min_contour }}" min="10" max="200">
      </p>
      <p>
      <label for="max_contour">Max contour length (px)  </label>
      <input type="number" id="max_contour" name="max_contour" value="{{ opts.detection.max_contour }}" min="10" max="1000">
      </p>
      <p>
      <label for="min_colour"> Min tracking colour (HSV)</label>
      <input type="color" id="min_colour" name="min_colour" value="{{ opts.detection.min_colour }}">
      </p>
      <p>
      <label for="max_colour"> Max tracking colour (HSV)</label>
      <input type="color" id="max_colour" name="max_colour" value="{{ opts.detection.max_colour }}">
      </p>

      <p>
      <label for="save_file"> Save to file:</label>
      <input type="checkbox" id="save_file" name="save_file" value="{{ save_file }}">
      <input type="text" id="conf_path" name="conf_path" value="{{ conf_path }}">
      </p>

      <p>
      <button type="submit">Update Settings</button>
      </p>
    </form>


    <h2>Camera Calibration</h2>
    <p>Pi Camera is <b>{{ '' if use_picamera else 'not' }} enabled</b></p>

    {% if use_picamera %}
      <h3>Camera Settings</h3>

      <p>ISO: {{ opts.camera.iso }} </p>
      <p>Shutter Speed: {{ opts.camera.shutter_speed }} </p>
      <p>Saturation: {{ opts.camera.saturation }} </p>
      <p>White Balance Mode: {{ opts.camera.awb_mode }} </p>

      <form action="{{ url_for('calibrate')}}" method="post">
        <label for="iso">ISO (Min: 25, Max: 800):</label>
        <input type="number" id="iso" name="iso" value="{{ opts.camera.iso }}" min="25" max="800">

        <label for="shutter_speed">Shutter Speed (Min: 244, Max: 1000000):</label>
        <input type="number" id="shutter_speed" name="shutter_speed" value="{{ opts.camera.shutter_speed }}" min="244" max="1000000">

        <label for="saturation">Saturation (Min: -100, Max: 100):</label>
        <input type="number" id="saturation" name="saturation" value="{{ opts.camera.saturation }}" min="-100" max="100">

        <label for="awb_mode">Auto White Balance Mode:</label>
        <input type="select" id="saturation" name="saturation" value="{{ opts.camera.saturation }}">

        <select type="text" id="awb_mode" name="awb_mode" selected="{{ opts.camera.awb_mode }}">
            {% for opt in awb_modes %}
            <option value="{{ opt }}" {{ 'selected' if opts.camera.awb_mode == opt else '' }}>{{ opt }}</option>
            {% endfor %}
        </select>

        <button type="submit">Update Options</button>
      </form>

      <h3>Shutter Speed Equivalence Table</h3>

      The PiCamera uses a value for shutter speed where 1 second == 1,000,000 units

      <table>
        <thead>
          <tr>
              <th>Shutter Speed (s)<br></th>
              <th>PiCamera Equivalent Unit<br></th>
          </tr>
        </thead>
        <tbody>
          <tr><td>1     </td><td> 1,000,000</td></tr>
          <tr><td>1/2   </td><td> 500,000  </td></tr>
          <tr><td>1/4   </td><td> 125,000  </td></tr>
          <tr><td>1/8   </td><td> 62,500   </td></tr>
          <tr><td>1/16  </td><td> 62,500   </td></tr>
          <tr><td>1/32  </td><td> 31,250   </td></tr>
          <tr><td>1/64  </td><td> 15,625   </td</tr>
          <tr><td>1/128 </td><td> 7,812    </td</tr>
          <tr><td>1/256 </td><td> 3,906    </td</tr>
          <tr><td>1/512 </td><td> 1,953    </td</tr>
          <tr><td>1/1024</td><td> 976      </td</tr>
          <tr><td>1/2048</td><td> 488      </td</tr>
          <tr><td>1/4096</td><td> 244      </td</tr>
        </tbody>
      </table>

    {% endif %}

    <a href="/">Back to Home</a>
  </body>
</html>
