{% macro render_pulse() %}
    <span class="flex h-3 w-3 relative">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
              {% if kwargs['turbo_stream'] %}data-turbo-stream-target="pulse"{% endif %}></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"
              {% if kwargs['turbo_stream'] %}data-turbo-stream-target="dot"{% endif %}></span>
    </span>
{% endmacro %}
{% macro render_label(label) %}
    <div class="flex flex-row gap-2 items-center">
        {{ caller() }}
        <p>{{ label }}</p>
    </div>
{% endmacro %}
