{% extends "layout.html" %}
{% from "_formhelpers.html" import render_form %}
{% from "_taghelpers.html" import render_h1, render_h2, render_section %}
{% from "_componenthelpers.html" import render_label %}
{% block title %}Synch.Live Observer Control{% endblock %}
{% block content %}
    {{ render_h1('Calibrate') }}
    <div>
        <p>Below is the real-time video feed on which the tracker will be run.</p>
        <p>The tracker is running with default parameters until calibration is completed.</p>
    </div>
    <img src="{{ url_for('tracking.feed') }}" alt="Tracking feed">
    {% call render_section('Tracking calibration') %}
        <div>
            <p>The inputs are autofilled with the current settings.</p>
            <p>To update settings for the current run, press 'Save'.</p>
        </div>
        {{ render_form(form, 'Save') }}
    {% endcall %}
    {% call render_section('Camera calibration') %}
        {% call render_label('Pi Camera is not enabled.') %}
        {% endcall %}
    {% endcall %}
{% endblock %}
