<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <title>{% block title %}Synch.Live Observer{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script async src="{{ url_for('node_modules', filename='es-module-shims/dist/es-module-shims.js') }}"></script>
    <script type="importmap">{{ importmap() | tojson }}</script>
    <script type="module">import * as Turbo from "turbo"</script>
</head>
<body class="container bg-white dark:bg-black text-black dark:text-white mx-auto px-4 py-4 flex flex-col gap-4">
<header class="flex flex-row gap-6 items-center text-xl">
    <p class="text-6xl font-medium"><a href="{{ url_for('main') }}">Synch.Live</a></p>
    <nav>
        <ul class="flex flex-row items-center divide-x">
            {% for item in navigation() %}
                <li class="px-4 {% if request.path == item.href %}text-gray-500{% endif %}">
                    {% if request.path != item.href %}
                        <a href="{{ item.href }}">{{ item.caption }}</a>
                    {% else %}
                        {{ item.caption }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
<hr class="h-1 bg-slate-800 dark:bg-gray-200" />
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="fixed right-8 bottom-8 flex flex-col gap-4">
    {% for message in messages %}
      <li class="py-2 px-4 rounded-lg bg-green-200 dark:bg-green-800 dark:hover:bg-slate-700 text-lg">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<main class="flex flex-col gap-6">
    {% block content %}{% endblock %}
</main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>
