{% extends "layout.html" %}
{% from "_formhelpers.html" import render_form, render_submit_field %}
{% from "_taghelpers.html" import render_h1 %}
{% block title %}Synch.Live Observer Control{% endblock %}
{% block content %}
    {{ render_h1('Experiment') }}
    <form action="{{ url_for('tracking.toggle') }}" method="get">
        {{ render_submit_field(value="Stop") }}
    </form>

    <img src="{{ url_for('tracking.feed', nonce=time) }}" alt="Tracking feed" class="max-w-xl">

    <p>Current task: {{ task }} </p>
    <p>Psi: {{ psi }}</p>

    {{ render_form(form, 'Submit')}}

{% endblock %}