{% extends "layout.html" %}
{% from "_formhelpers.html" import render_form, render_submit_field %}
{% from "_taghelpers.html" import render_h1 %}
{% block title %}Synch.Live Observer Control{% endblock %}
{% block content %}
    {{ render_h1('Experiment') }}
    <nav>
        <ul class="flex flex-row gap-8 items-center">
            <!-- <a href="{{ url_for('calibrate.calibrate') }}">{{ "Calibrate" }}</a> -->
            <a href="{{ url_for('tracking.toggle') }}">{{ "Stop" }}</a>
        </ul>
    </nav>
        <img src="{{ url_for('tracking.feed', nonce=time) }}" alt="Tracking feed" width = "600" height="500">

    {{ render_form(form, 'Submit')}}

{% endblock %}
